[submodule "installation/ros2-introduction"]
	path = installation/ros2-introduction
	url = https://github.com/MRAC-IAAC/ros2-introduction.git
[submodule "installation/MRAC-docker-for-ROS-practice"]
	path = installation/MRAC-docker-for-ROS-practice
	url = https://github.com/MRAC-IAAC/MRAC-docker-for-ROS-practice.git
[submodule "installation/moveit2-introduction"]
	path = installation/moveit2-introduction
	url = https://github.com/MRAC-IAAC/moveit2-introduction.git
